<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Details | Triangle</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/lightbox.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script th:inline="javascript">function retrieveGuests(comment_id,moment_id) {
        var con="#searchSurname"+(comment_id+1);
        $.ajax({
            type:"POST",
            url:"/new_children_comment?comment_id="+comment_id,
            data:{content:$(con).val()},
            window:location.href = "/detail?moment_id="+moment_id
        });
    }

    stLight.options({
        publisher: "7e8eb33b-fbe0-4915-9b93-09490e3d10df",
        doNotHash: false,
        doNotCopy: false,
        hashAddressBar: false
    });</script>
</head><!--/head-->

<body>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 overflow">
                <div class="social-icons pull-right">
                    <ul class="nav nav-pills">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <h1><img src="/images/logo.png" alt="logo"></h1>
                </a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="dropdown"><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="aboutus.html">About</a></li>
                            <li><a href="aboutus2.html">About 2</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="contact2.html">Contact us 2</a></li>
                            <li><a href="404.html">404 error</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active"><a href="blog.html">Blog <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="blog.html">Blog Default</a></li>
                            <li><a href="blogtwo.html">Timeline Blog</a></li>
                            <li><a href="blogone.html">2 Columns + Right Sidebar</a></li>
                            <li><a href="blogthree.html">1 Column + Left Sidebar</a></li>
                            <li><a href="blogfour.html">Blog Masonary</a></li>
                            <li><a class="active" href="blogdetails.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="portfolio.html">Portfolio <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="portfolio.html">Portfolio Default</a></li>
                            <li><a href="portfoliofour.html">Isotope 3 Columns + Right Sidebar</a></li>
                            <li><a href="portfolioone.html">3 Columns + Right Sidebar</a></li>
                            <li><a href="portfoliotwo.html">3 Columns + Left Sidebar</a></li>
                            <li><a href="portfoliothree.html">2 Columns</a></li>
                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                        </ul>
                    </li>
                    <li><a href="shortcodes.html ">Shortcodes</a></li>
                </ul>
            </div>
            <div class="search">
                <form role="form">
                    <i class="fa fa-search"></i>
                    <div class="field-toggle">
                        <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<!--/#header-->


<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12" th:each="item : ${detail}">
                        <h1 class="title" th:text="${{item.name}}"></h1>
                        <p th:text="${{item.date}}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->

<section id="blog-details" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="single-blog blog-details two-column">
                            <div class="post-content overflow"  th:each="item : ${detail}">
                                <div class="post-thumb">
                                    <a href="#"><img th:src="@{/Moment/image/get(id=${{item.id}})}" class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                    </div>
                                </div>
                                <h2 class="post-title bold"><a href="#" th:text="${{item.title}}"></a></h2>
                                <h3
                                        class="post-author"><a href="#" th:text="${{item.name}}"></a></h3>
                                <p th:text="${{item.content}}"> <br> <br></p>
                                <div class="post-bottom overflow">
                                    <ul class="nav navbar-nav post-nav">
                                        <li><a href="#"><i class="fa fa-tag">
                                            <span class="post-author" th:text="${{item.tag}}">
                                            </span>
                                        </i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                    </ul>
                                </div>
                                <div class="blog-share">
                                    <span class='st_facebook_hcount'></span>
                                    <span class='st_twitter_hcount'></span>
                                    <span class='st_linkedin_hcount'></span>
                                    <span class='st_pinterest_hcount'></span>
                                    <span class='st_email_hcount'></span>
                                </div>
                                <!--<div class="author-profile padding">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-2">-->
                                            <!--<img src="/images/blogdetails/1.png" alt="">-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-10">-->
                                            <!--<h3>Rodrix Hasel</h3>-->
                                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                                                <!--tempor incididunt ut labore et dolore magna aliq Ut enim ad minim-->
                                                <!--veniam, quis nostrud exercitation ullamco laboris nisi</p>-->
                                            <!--<span>Website:<a href="www.jooomshaper.com"> www.jooomshaper.com</a></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="response-area" id="resultsBlock">
                                    <h2 class="bold">Comments</h2>
                                    <ul class="media-list">
                                        <li class="media"  th:each="item2 : ${comments}">
                                            <div class="post-comment">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object" id="comment-img"
                                                         th:src="@{/Customer/image/get(id=${{item2.Customer_id}})}" alt="">
                                                </a>
                                                <div class="media-body">
                                                    <span><i class="fa fa-user"></i>Posted by <a
                                                            href="#" th:text="${{item2.Customer_name}}"></a></span>
                                                    <p th:text="${{item2.content}}"></p>
                                                    <ul class="nav navbar-nav post-nav">
                                                        <li><a href="#" th:text="${{item2.date}}"><i
                                                                class="fa fa-clock-o"></i></a></li>
                                                        <li>
                                                            <!--<label th:for="searchSurname+(${item2.id}+1)"></label>-->

                                                            <!--<button id="button" name="searchButton" class="form-control"-->
                                                                    <!--th:onclick="retrieveGuests(([[${item2.id}]]),([[${item2.F_moment_id}]]))"-->
                                                                    <!--type="button"-->
                                                            <!--&gt;<i class="fa fa-reply"></i></button>-->
                                                            <!--<input id="input" th:type="text" th:id-->
                                                                    <!--="searchSurname+(${item2.id}+1)" class="form-control"-->
                                                                   <!--name="content"/>-->
                                                        </li>
                                                    </ul>
                                                    <br/><br/>
                                                    <div class="col-md-10 col-sm-12">
                                                        <div class="contact-form bottom">
                                                            <form name="contact-form" method="post" action="sendemail.php">
                                                                <input id="input" th:type="text" th:id
                                                                        ="searchSurname+(${item2.id}+1)" class="form-control"
                                                                       name="content"/>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6">
                                                        <div class="contact-info bottom">
                                                            <button id="button" name="searchButton" class="form-control"
                                                                    th:onclick="retrieveGuests(([[${item2.id}]]),([[${item2.F_moment_id}]]))"
                                                                    type="button"><i class="fa fa-reply"></i></button>
                                                        </div>
                                                    </div>
                                                </div >
                                                <!--<input th:type="text" th:id ="searchSurname+(${item2.id}+1)" -->
                                                       <!--name="content" class="form-control"/>-->
                                                <!--<br />-->
                                                <!--<label th:for="searchSurname+(${item2.id}+1)" th:text="#{search.label}">Search-->
                                                    <!--label:</label>-->
                                                <!--<button id="searchButton" name="searchButton"-->
                                                        <!--th:onclick="retrieveGuests(([[${item2.id}]]),([[${item2.F_moment_id}]]))" type="button"-->
                                                <!--&gt;Search button</button>-->
                                            </div>
                                            <div class="parrent"  th:each="item3 : ${item2.children}">
                                                <ul class="media-list">
                                                    <li class="post-comment reply">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object" id="comment-comment-img"
                                                                 th:src="@{/Customer/image/get(id=${{item3.Customer_id}})}"
                                                                 alt="">
                                                        </a>
                                                        <div class="media-body">
                                                            <span><i class="fa fa-user"></i>Posted by <a
                                                                    href="#"  th:text="${{item3.customer_name}}">
                                                                </a></span>
                                                            <p th:text="${{item3.content}}"></p>
                                                            <ul class="nav navbar-nav post-nav">
                                                                <li><a href="#"><i class="fa fa-clock-o"
                                                                                   th:text="${{item3.date}}"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <!--<li class="media">-->
                                            <!--<div class="post-comment">-->
                                                <!--<a class="pull-left" href="#">-->
                                                    <!--<img class="media-object" src="/images/blogdetails/4.png" alt="">-->
                                                <!--</a>-->
                                                <!--<div class="media-body">-->
                                                    <!--<span><i class="fa fa-user"></i>Posted by <a-->
                                                            <!--href="#">Endure</a></span>-->
                                                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do-->
                                                        <!--eiusmod tempor incididunt ut labore et dolore magna aliq Ut enim-->
                                                        <!--ad minim veniam, quis nostrud exercitation ullamco laboris-->
                                                        <!--nisi.</p>-->
                                                    <!--<ul class="nav navbar-nav post-nav">-->
                                                        <!--<li><a href="#"><i class="fa fa-clock-o"></i>February-->
                                                            <!--11,2014</a></li>-->
                                                        <!--<li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>-->
                                                    <!--</ul>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</li>-->

                                    </ul>
                                </div><!--/Response-area-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item  recent">
                        <h3>Comments</h3>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/images/portfolio/project1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/images/portfolio/project2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/images/portfolio/project3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-item categories">
                        <h3>Categories</h3>
                        <ul class="nav navbar-stacked">
                            <li><a href="#">Lorem ipsum<span class="pull-right">(1)</span></a></li>
                            <li class="active"><a href="#">Dolor sit amet<span class="pull-right">(8)</span></a></li>
                            <li><a href="#">Adipisicing elit<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Sed do<span class="pull-right">(9)</span></a></li>
                            <li><a href="#">Eiusmod<span class="pull-right">(3)</span></a></li>
                            <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Ut enim ad minim <span class="pull-right">(2)</span></a></li>
                            <li><a href="#">Veniam, quis nostrud <span class="pull-right">(8)</span></a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item tag-cloud">
                        <h3>Tag Cloud</h3>
                        <ul class="nav nav-pills">
                            <li><a href="#">Corporate</a></li>
                            <li><a href="#">Joomla</a></li>
                            <li><a href="#">Abstract</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Product</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item popular">
                        <h3>Latest Photos</h3>
                        <ul class="gallery">
                            <li><a href="#"><img src="/images/portfolio/popular1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular1.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="/images/home/under.png" class="img-responsive inline" alt="">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="testimonial bottom">
                    <h2>Testimonial</h2>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="/images/home/profile1.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.
                            </blockquote>
                            <h3><a href="#">- Jhon Kalis</a></h3>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="/images/home/profile2.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison
                                eiusmod.
                            </blockquote>
                            <h3><a href="">- Abraham Josef</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="contact-info bottom">
                    <h2>Contacts</h2>
                    <address>
                        E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br>
                        Phone: +1 (123) 456 7890 <br>
                        Fax: +1 (123) 456 7891 <br>
                    </address>

                    <h2>Address</h2>
                    <address>
                        Unit C2, St.Vincent's Trading Est., <br>
                        Feeder Road, <br>
                        Bristol, BS2 0UY <br>
                        United Kingdom <br>
                    </address>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; Your Company 2014. All Rights Reserved.</p>
                    <p>Designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->


<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lightbox.min.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
